<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_object.name }}</h1>
                <p>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in todo_object.items.all  %}
                        <tr>
                            <td>{{ task.task }}</td>
                            <td>{{task.due_date }}</td>
                        </tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
